.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    padding-top: 5%;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, 
.grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, {
    position: relative;
    min-height: 1px;
    padding: 15px;
}
@media (min-width: 992px) {
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
        float: left;
    }
    .grid-12 {
        width: 100%;
    }
    .grid-11 {
        width: 91.66666667%;
    }
    .grid-10 {
        width: 83.33333333%;
    }
    .grid-9 {
        width: 75%;
    }
    .grid-8 {
        width: 66.66666667%;
    }
    .grid-7 {
        width: 58.33333333%;
    }
    .grid-6 {
        width: 50%;
    }
    .grid-5 {
        width: 41.66666667%;
    }
    .grid-4 {
        width: 33.33333333%;
    }
    .grid-3 {
        width: 25%;
    }
    .grid-2 {
        width: 16.66666667%;
    }
    .grid-1 {
        width: 8.33333333%;
    }
}